
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffebde;
    color: black;
    text-align: center;
    margin: auto;
}
h1 {
    display: block;      
    font-size: 68px;
    font-family: "Abril Fatface", serif;
    color: #275214;
    margin-bottom: 0px;  
    margin-top: 30px;
}
.titulo-verde {
    display: block;      
    font-size: 50px;
    font-family: serif;
    color: #1d410d;
    margin-top: 90px;     
    font-weight: 600;
}

header.menu-principal {
    background-color: rgb(21, 100, 38);
    height: 70px;
    max-width: 100%;
    padding-top: 1px;
    margin-bottom: 10px;
}
.principal ul li{
    display: inline-block;
    margin: 0 79px;
    font-size: 20px;
    font-family: 'Noto Sans', sans-serif;
    
    border: #8B4513 groove 4px;
    background-color:#5d2e0a;
    border-radius: 8px 2px 10px 3px;
    box-shadow: 3px 3px 0px #5d2e0a;
}
.principal a{
    text-decoration: none;
    color: #eeeeee;
    padding: 5px 10px;
}

.imagem-Joao {
    margin-top: 5px;
    width: 400px ;
    border-radius: 5px;
    border-color: slategrey shadowed 4px;
}
.produtos {
    font-size: 40px;
    color: #1d410d;
    font-family: 'Noto Sans', sans-serif;
}
.alface-produto {
    font-size: 60px;
    color: #1d410d;
    font-family: "Abril Fatface", serif;
    font-weight: 300;
    background-color: #8fb380;
}
#card-alface {
    display: inline-block;
    border: #275214 groove 4px;
    background-color: #b7e0a5;
    border-radius: 15px;
    padding:  20px;
    box-shadow: 0 4px 8px rgb(0, 0, 0.1);
    margin: 10px;
}

.img-alface{
    height: 350px;
    border-radius: 40px;
    margin: 10px;
}

.preco {
    font-size: 50px;
    font-family: Open Sans, sans-serif;
    color: #31410d;
    font-weight: 700;
}
.btn-comprar {
    font-size: 40px;
    border:#66330e solid 2px;
    background-color:#8B4513;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    margin: 20px;
}
.btn-comprar:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Sombra aumenta ao passar o mouse */
    transform: translateY(-5px);
}
.cenoura-produto {
    font-size: 60px;
    color: #1d410d;
    font-family: "Abril Fatface", serif;
    font-weight: 300;
    background-color: #8fb380;
}
#card-cenoura {
    display: inline-block;
    border: #275214 groove 4px;
    background-color: #b7e0a5;
    border-radius: 15px;
    padding:  20px;
    box-shadow: 0 4px 8px rgb(0, 0, 0.1);
    margin: 10px;
}
.img-cenoura{
    height: 350px;
    border-radius: 40px;
    margin: 10px;
}
.repolho-produto {
    font-size: 60px;
    color: #1d410d;
    font-family: "Abril Fatface", serif;
    font-weight: 300;
    background-color: #8fb380;
}
#card-repolho {
    display: inline-block;
    border: #275214 groove 4px;
    background-color: #b7e0a5;
    border-radius: 15px;
    padding:  20px;
    box-shadow: 0 4px 8px rgb(0, 0, 0.1);
    margin: 10px;
}
.img-repolho{
    height: 350px;
    border-radius: 40px;
    margin: 10px;
}
.repolho-roxo-produto {
    font-size: 60px;
    color: #1d410d;
    font-family: "Abril Fatface", serif;
    font-weight: 300;
    background-color: #8fb380;
}
#card-repolho-roxo {
    display: inline-block;
    border: #275214 groove 4px;
    background-color: #b7e0a5;
    border-radius: 15px;
    padding:  20px;
    box-shadow: 0 4px 8px rgb(0, 0, 0.1);
    margin: 10px;
}
.img-repolho-roxo{
    height: 350px;
    border-radius: 40px;
    margin: 10px;
}